<!DOCTYPE html>
<html>
  <head>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="request.js"></script>
    <title>Page Title</title>
  </head>
  <body>

    <h1>My First Heading</h1>
    <p>My first paragraph.</p>

    <div id="app">
      <span>Post Preview</span>
      <p style="white-space: pre-line;">
        {{postBody}}
      </p>
      <br/>
      <textarea v-model="postBody"></textarea>
      <button v-on:click="uploadPost">Upload Post</button>
      <button v-on:click="loadPosts">Load Posts</button>

      <!--- Feed (where all posts are displayed) -->
      <post-feed v-for="post in posts" v-bind:key="post.Key" v-bind:post="post"></post-feed>
    </div>

    <!---  -->
    <script src="feed.js"></script>

  </body>
</html>
